<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>영화 | Korea, Hello Marvel!</title>


    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- naver.api -->
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=vv256amuz5"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            showReview(); //로딩되자마자 불림
        });

        function makeReview() {
            let name = $('#name').val()
            let movie = $('#movie').val()
            let review = $('#review').val()

            $.ajax({
                type: "POST",
                url: "/review",
                data: {name_give: name, movie_give: movie, review_give: review},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

        function showReview() {
            $.ajax({
                type: "GET",
                url: "/review",
                data: {},
                success: function (response) {
                    let reviews = response['all_reviews']
                    for (let i = 0; i < reviews.length; i++) {
                        let name = reviews[i]['name']
                        let movie = reviews[i]['movie']
                        let review = reviews[i]['review']

                        let temp_html = `<tr>
                                                <td>${name}</td>
                                                <td>${movie}</td>
                                                <td>${review}</td>
                                            </tr>`
                        $('#reviews-box').append(temp_html)
                    }
                }
            })
        }

    </script>
</head>

<body>
<div id="map" style="width:100%;height:400px;"></div>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new naver.maps.LatLng(33.3826047060766, 126.54611090627216), // 지도(제주)의 중심좌표
            zoom: 10 // 지도의 확대 레벨
        };

    var map = new naver.maps.Map(mapContainer, mapOption); // 지도를 생성

    var positions = [
        {
            contentstring: '제주절물자연휴양림',
            latlng: new naver.maps.LatLng(33.47001369719428, 126.62036445075275)
        },
        {
            contentstring: '메이즈랜드',
            latlng: new naver.maps.LatLng(33.508954133245055, 126.80026557916703)
        },
        {
            contentstring: '거문오름',
            latlng: new naver.maps.LatLng(33.475741330001256, 126.71237495154476)
        },
        {
            contentstring: '천지연폭포',
            latlng: new naver.maps.LatLng(33.247661005732056, 126.55441694966106)
        }
    ];
    for (var i = 0; i < positions.length; i++) {
        // 마커 생성
        var marker = new naver.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng // 마커를 표시할 위치
        });

        var infowindow = new naver.maps.InfoWindow({
            content: positions[i].contentstring
        });
        infowindow.open(map, marker);
    }
</script>

<div class="a">
    <div>
        <div class="mb-3">
            <label class="form-label">id</label>
            <input id="name" type="text" placeholder="Jeongah">
            <label class="form-label" style="margin-left: 40px;">영화제목</label>
            <input id="movie" type="text" list="영화종류" placeholder="--영화 선택--">
            <datalist id="영화종류">
                <option value="캡틴 아메리카: 퍼스트어벤져"></option>
            </datalist>
        </div>
        <div class="mb-3">
            <label class="form-label">영화후기(감상평)</label>
            <textarea id="review" class="form-control" rows="3"></textarea>
        </div>
        <button onclick="makeReview()" type="submit" class="btn btn-primary">등록</button>
    </div>

    <br><br><br>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">영화제목</th>
                <th scope="col">후기(감상평)</th>
            </tr>
            </thead>

            <tbody id="reviews-box">
            </tbody>
        </table>
    </div>
</div>

</body>
</html>