<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>마스크 최저가</title>
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        span {
            font-size: 20px
        }

        .mybtn {
            width: 100px;
            margin: auto;
            display: block;
        }

        .main {
            width: 500px;
            margin: 20px auto 20px auto;

            padding-left: 100px;

        }

        .table {
            width : 500px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

    </style>

    <script>
        $(document).ready(function () {
            get_rate();
            listing();
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    if (response['result'] == "success") {
                        let orders = response['orders'];
                        for (let i = 0; i < orders.length; i++) {
                            let name = orders[i]['name'];
                            let color = orders[i]['color'];
                            let count = orders[i]['count'];
                            let address = orders[i]['address'];
                            let phone = orders[i]['phone'];

                            let temp_html =`<tr>
                                                <th scope="row">${name}</th>
                                                <td>${color}</td>
                                                <td>${count}</td>
                                                <td>${address}</td>
                                                <td>${phone}</td>
                                            </tr>`

                            $('#orders-box').append(temp_html)
                        }
                    }

                }
            })
        }


        function get_rate() {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    let now_rate = response[1]['rate'];
                    $('#rate').text(now_rate);
                }
            })
        }

        function order() {
            let name = $('#order-name').val();
            let count = $('#order-count').val();
            let color = $('#order-color').val();
            let address = $('#order-address').val();
            let phone = $('#order-phone').val();

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, color_give: color, count_give: count, address_give: address, phone_give: phone},
                success: function (response) {
                    if (response['result'] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })

        }

    </script>
</head>

<body>
<div class="main">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
             src="http://gdimg.gmarket.co.kr/1954485019/still/600?ver=1619502232"
             alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title"> -색깔 마스크 판매- <span>가격:500원/개</span></h2>
            <p class="card-text">마스크로 나만의 개성을 뽐내보세요~ 코로나 시대 필수템 마스크! 싼 가격에 득템하세용~! 색상은 마음대로 고르실 수 있습니다^^</p>
            <p style="color: blue;"> 달러(원) 환율: <span id="rate">새로고침 하세요</span></p>


            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">주문자이름</div>
                </div>
                <input id="order-name" type="text" class="form-control">
            </div>

            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">색상</div>
                </div>
                <input id="order-color" type="text" list="색상종류" placeholder="--색상을 선택--">
                <datalist id="색상종류">
                    <option value="회색"></option>
                    <option value="노랑"></option>
                    <option value="초록"></option>
                    <option value="파랑"></option>
                    <option value="연분홍"></option>
                    <option value="갈색"></option>
                    <option value="연보라"></option>
                    <option value="하늘"></option>
                </datalist>
            </div>

            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">수량</div>
                </div>
                <input type="number" id="order-count" class="form-control" placeholder="--수량을 선택--">
            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">주소</div>
                </div>
                <input id="order-address" type="text" class="form-control">
            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">전화번호</div>
                </div>
                <input id="order-phone" type="text" class="form-control">
            </div>

            <a href="#" onclick="order()" class="btn btn-primary mybtn">주문하기</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">이름</th>
            <th scope="col">색상</th>
            <th scope="col">수량</th>
            <th scope="col">주소</th>
            <th scope="col">전화번호</th>
        </tr>
        </thead>
        <tbody id ="orders-box">
        </tbody>
    </table>
</div>
</body>

</html>
