<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>


<style>
    .cards {
        margin: 80px 75px 80px 75px;
    }

    img {
        margin-left: auto;
        height: 200px;
    }

</style>


<body>

<div class="cards">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/002irm_ons_inl_15.jpg"
                     class="card-img-top" alt="아이언맨">
                <div class="card-body">
                    <h5 class="card-title"><a href="">아이언맨(토니 스타크)</a></h5>
                    <p class="card-text">배우, 로버트 다우니 주니어 <br><br>
                        코니스타크는 외강내유형의 성격을 지녔습니다. 오만방자한 성격에 자존심이 셉니다. 어벤져스의 주요 작전에 있어서 빠질 수 없는 아이언맨의 역할을 맡고 있습니다.
                        공중 화력 지원과 여러 기능들이 탑재된 슈트를 입고서 싸웁니다. 자기주도적인 면 때문에 캡틴 아메리카와도 자주 싸웁니다. 엔드게임에서 죽음을 맞이합니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cloudfront-ap-northeast-1.images.arcpublishing.com/chosunbiz/GBZV73E4EHULN2TQTZ65WDXENE.png"
                     class="card-img-top" alt="캡틴 아메리카">
                <div class="card-body">
                    <h5 class="card-title"><a href="">캡틴 아메리카(스티브 로저스)</a></h5>
                    <p class="card-text">배우, 크리스 에반슨 <br><br>
                        캡틴 아메리카는 냉동되어 있다가 깨어난 인물로, 생물학적으로는 39세 실제 나이는 105세의 인물입니다. 영화 내에서는 도덕적인 인물이라 부도덕적인 행위에 대해 참지
                        못합니다. 또한 자유를 좋아하고 책임감있고 희생적인 면모가 있습니다. 방패를 가지고 싸웁니다. 엔드게임에서 나이가 많이 들어 더이상 활동 할 수 없는 것을 알 수 있습니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/004tho_ons_inl_02.jpg"
                     class="card-img-top" alt="토르">
                <div class="card-body">
                    <h5 class="card-title"><a href="">토르(토르 오딘스)</a></h5>
                    <p class="card-text">배우, 크리스 헴스워스<br><br>
                        어벤져스팀의 적군이라고 할 수 있는 아스가르드 행성의 왕 오딘의 맏 아들로, 형제로는 오딘이 있습니다. 인간이 아닌 아스가르드인으로 나이는 1500살 정도 됩니다. 망치를
                        이용하여 천둥을 모아 공격을 하며, 지구가 위기에 쳐했다는 소식을 들으면 달려와 도와주는 영웅입니다. 지구와 우주의 연결 다리 역할을 해주는 인물이기도 합니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://img.huffingtonpost.com/asset/5d7f3e61230000580554f916.jpeg?cache=vsNYzmVNEQ&ops=scalefit_630_noupscale"
                     class="card-img-top" alt="헐크">
                <div class="card-body">
                    <h5 class="card-title"><a href="">헐크(브루스 배너)</a></h5>
                    <p class="card-text">배우, 마크 러팔로<br><br>
                        헐크는 한 몸에 두 개의 자아를 가지고 있어 헐크 일때와 브루스 배너 일때 성격이 다르기도 합니다. 헐크로 변신해야하는 순간에 헐크로 변신하지 못해 곤욕을 치르기도 합니다.
                        헐크로 변한다면 무시무시한 괴물의 파워를 가지고 있습니다. 조절하지 못하는 자신에 대해 상실감을 느낀 브루스 배너는 혼자 다른 곳으로 떠나기도 합니다. 원래는 굉장히 똑똑한 과학자입니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.denofgeek.com/wp-content/uploads/2021/01/vision-age-of-ultron.jpg?resize=768%2C432"
                     class="card-img-top" alt="비전">
                <div class="card-body">
                    <h5 class="card-title"><a href="">비전</a></h5>
                    <p class="card-text">배우, 폴 베터니(목소리)<br><br>
                        비전은 안드로이드 슈퍼히어로입니다. 울트론이 진화를 위해 헬렌 조의 기술을 사용해서 만든 몸체로, 이후 토니 스카트의 인공지능 자비스가
                        자리잡으면서 비전이 된다. 비브라늄 신체를 가지고 있으며, 마음대로 비전을 가지고 있습니다. 엔드게임에서 죽음을 맞이합니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://cdnweb01.wikitree.co.kr/webdata/editor/202106/18/img_20210618173637_cb174cef.webp"
                     class="card-img-top" alt="블랙 위도우">
                <div class="card-body">
                    <h5 class="card-title"><a href="">블랙 위도우(나타샤 로마노프)</a></h5>
                    <p class="card-text">배우, 스칼렛 요한슨<br><br>
                        과거 레드룸에 끌려가 어린시절부터 훈련을 받은 KGB 소속의 암살자 였으며, 지구 최고의 스파이였을만큼 신체적으로 매우 뛰어난 운동신경을 가지고 태어났습니다. 호크아이가
                        나타샤의 생명을 구해주었고, 때문에 로키에게 세뇌된 호크아이를 구하려고 굉장히 노력합니다. 엔드게임에서 죽음을 맞이하게 됩니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAyMDA4MjFfMTY3/MDAxNTk3OTg3MDQ3NzM1.9b5fPMgK2dg_XJMOYttHFVe5w7WVcyDmgbD5PaaVI4kg.okwCUSi1bBCdtGARmXjUivWMi3U4igOER2kTPo3_UIEg.JPEG.cine_play/01.jpg?type=w800"
                     class="card-img-top" alt="호크아이">
                <div class="card-body">
                    <h5 class="card-title"><a href="">호크 아이(클린튼 프랜시스 바튼)</a></h5>
                    <p class="card-text">배우, 제네미 레너<br><br>
                        뛰어난 활쏘기 실력을 가지고 있습니다. 호크 아이도 뛰어난 신체 능력을 가지고 있습니다. 영화 중 그는 가정을 꾸린 유부남으로, 가족들과의 애뜻한 장면들도 종종 나옵니다.
                        어벤져스 엔드게임에서는 가족이 있는 호크아이 대신 블랙 위도우가 죽게 됩니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/042wmr_ons_inl_05.jpg"
                     class="card-img-top" alt="워 머신">
                <div class="card-body">
                    <h5 class="card-title"><a href="">워 머신(제임스 루퍼트 로즈)</a></h5>
                    <p class="card-text">배우, 돈 치들<br><br>
                        군 장교 출신으로 뛰어난 전투 능력을 보여줍니다. 워 머신도 슈트를 입고 싸움을 하며, 슈트는 에너지 계열의 무장보다는 중화기들이 갑옷에 장착되어 있습니다. 영화 내에서
                        주연급은 아니지만 조연으로 많이 등장하는 인물입니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.hebergementwebs.com/image/9b/9bbb589a4cc75395b01faee5edd40b6b.jpg/.jpg"
                     class="card-img-top" alt="팔콘">
                <div class="card-body">
                    <h5 class="card-title"><a href="">팔콘(새뮤얼 토머스 윌슨)</a></h5>
                    <p class="card-text">배우, 앤서니 매키<br><br>
                        팔콘은 매우 뛰어난 비행 능력을 가지고 있습니다. 퇴역 군인입니다. 엔드게임에서 캡틴 아메리카의 방패를 넘겨받게 됩니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://mblogthumb-phinf.pstatic.net/20151129_134/rudnfqkek1779_1448744629533RFSm9_PNG/20151129_055721.png?type=w2"
                     class="card-img-top" alt="스칼렛 위치">
                <div class="card-body">
                    <h5 class="card-title"><a href="">스칼렛 위치(완다 막시모프)</a></h5>
                    <p class="card-text">배우, 엘리자베스 올슨<br><br>
                        반 정부 세력의 일원이었던 막시모프 남매에게 힘을 주겠다고 실험체로 삼게 되면서 능력을 얻게 됩니다. 퀵 실버와 남매입니다. 그녀는 '신경 전류 접속, 염동력, 정신 조작'
                        능력을 가지고 있습니다. 싸울때에는 상위권의 능력을 가지고 있는 인물 중 한명입니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fpost.phinf.naver.net%2FMjAyMTA1MjhfNTUg%2FMDAxNjIyMTMwOTcyNjg2.X8W4MiVp6OSEy6Q2cYeaH6inXiuV2zO5AEgC6vvGn3Ig.u5SiG8K534G0y3f3wD-adjYDYT93YkrwKFIAmTRWLE4g.JPEG%2FI6zG2jn8FXuLZ7PPUo1Z2jiSY1Uw.jpg&type=sc960_832"
                     class="card-img-top" alt="퀵 실버">
                <div class="card-body">
                    <h5 class="card-title"><a href="">퀵 실버(피에트로 막시모프)</a></h5>
                    <p class="card-text">배우, 에런 (테일러) 존슨<br><br>
                      막시모프 남매 중 오빠입니다. 스칼렛 위치와 남매입니다. 아주 빠르게 움직일 수 있는 능력을 가지고 있습니다. 엔드게임에서 죽음을 맞이하게
                        됩니다.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="http://file3.instiz.net/data/file3/2018/03/19/9/5/2/9527ec2e87ec41a2a621f5b82d303cda.jpg"
                     class="card-img-top" alt="스파이더 맨">
                <div class="card-body">
                    <h5 class="card-title"><a href="">스파이더 맨(피터 파커)</a></h5>
                    <p class="card-text">배우, 톰 홀랜드<br><br>
                        영화 내에서 미성년자로서 발랄하고 수다스럽습니다. 같이 사는 이모에게 본인이 스파이더맨인 것을 철저히 숨기면서 활동히지만, 최근 마블의 마지막 편에서 스파이더맨의 정체가
                        밝혀지게
                        되었습니다. 거미줄을 내뿜는 능력을 지니고 있습니다.</p>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>