<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>


<style>
    .cards {
        margin: 80px 75px 80px 75px;
    }

    img {
        margin-left: auto;
        height: 200px;
    }

</style>


<body>

<div class="cards">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA2MTdfNDAg%2FMDAxNTkyMzc2NzczMDkx.sZRA95JKKboqGC40JQBwrTHciTEuJoKs4sMl9Sx-dlIg.t1UoJ6X0AGL07nAIV6-Fi43_gbGYEPBeqHgEbpNRKbQg.JPEG.ban1329%2F6.jpg&type=sc960_832"
                     class="card-img-top" alt="닥터스트레인지">
                <div class="card-body">
                    <h5 class="card-title"><a href="">닥터스트레인지</a></h5>
                    <p class="card-text"><br><br>
                    -

                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA2MTZfNiAg%2FMDAxNTkyMjkxMTQ2ODg5.HHDGIgOC-w4lmzFLLl6xq8PmuDGhrmgUw8PTVchTQZUg.z5PYM7ocUL3c459s8tQe11w2vhvtbppn8ORexWfmexUg.JPEG.dmht2468%2F1592291147596.jpeg&type=sc960_832"
                     class="card-img-top" alt="스캇랭">
                <div class="card-body">
                    <h5 class="card-title"><a href="">앤트맨/스캇랭</a></h5>
                    <p class="card-text">- <br><br>
                        -


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

