<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--    Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/food_style.css">

</head>
<body>
<div class="warp">
    <div class="header">
        <div class="home_box">
                <img style=" cursor: pointer;" onclick="location.href='main'" class="home_link"
                     src="static/main_image/logo.jpg" width="100" height="39" border-radius="5"
                     alt="logo_img">
            <!--            home 링크 삽입 필요-->
        </div>
        <ul class="navi">
            <li><a href="travel">Travel</a></li>
            <li><a href="food">Food</a></li>
            <li><a href="hotel">Hotel</a></li>
        </ul>
    </div>
</div>
<!--    상단 navi-->

<div>
    <div class="map_box">food map</div>
        <div>
            <div class="food-cards">
            <div class="card">
                <img class="card-img-top" src="static/main_image/buger.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="static/main_image/buger.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="static/main_image/buger.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="card-review">리뷰</div>
    </div>


</div>


</body>
</html>