<!doctype html>
<html lang="en">
<header id="header" class="clearfix">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>코쟁이 제주 관광정보</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/main_style.css">

    <h1 class="logo"><a href="#">
        <img src="https://www.jeju.go.kr/files/editor/eeffd663-d0a5-4b90-b3e2-05189da61ce7.jpg" width="70%">
    </a></h1>
    <nav class="nav">
        <ul>
            <li><a href="travel">Travel</a></li>
            <li><a href="hotel">Hotel</a></li>
            <li><a href="food">Food</a></li>
        </ul>
    </nav>

</header>

<section id="main">

    <img src="static/main_image/main_welcome_bg2.jpg" width="1500" height="350">

</section>
<body>

<div class="space">
    &nbsp;
</div>


<div class="travel_image">
    <div class="card_font">
        <span style="font-size: 100%">Travel</span>
        <span style="font-size: 65%"><br><class="travel_down">여행</span>

    </div>


</div>

<div class="hotel_image">
    <div class="card_font">
        <span style="font-size: 100%">Hotel</span>
        <span style="font-size: 65%"><br><class="travel_down">숙박</span>

    </div>
</div>

<div class="food_image">
    <div class="card_font">
        <span style="font-size: 100%">Food</span>
        <span style="font-size: 65%"><br><class="travel_down">음식</span>
    </div>
</div>

<div class="festival">
    <div style="font-size: 200%">행사&축제</div>

</div>

</body>