<!doctype html>
<html lang="en">
<head class="clearfix">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>코쟁이 제주 관광정보</title>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/main_style.css">


</head>


<body>

<div class="wrap">
    <div class="header">
        <div class="home_box">
            <img style=" cursor: pointer;" onclick="location.href='main'" class="home_link"
                 src="static/main_image/logo.jpg" width="100" height="39" border-radius="5"
                 alt="logo_img">
            <!-- home 링크 삽입 필요-->
        </div>
        <navi>
            <li><a href="travel">Travel</a></li>
            <li><a href="food">Food</a></li>
            <li><a href="hotel">Hotel</a></li>
        </navi>
    </div>
    <div class="main_page_box">
        <div class="intro_bg">
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image/main_welcome_bg2.jpg" class="d-block w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <ul class="left_section">
            <li style=" cursor: pointer;" onclick="location.href='travel'" class="card">
                <div class="travel">
                    <div class="card-body">
                        <h1 class="card-title">Travel</h1>
                        <h3 class="card-title">여행</h3>
                    </div>
                </div>
            </li>
            <li style=" cursor: pointer;" onclick="location.href='hotel'" class="card">
                <div class="hotel">
                    <div class="card-body">
                        <h1 class="card-title">Hotel</h1>
                        <h3 class="card-title">숙박</h3>
                    </div>
                </div>
            </li>
            <li style=" cursor: pointer;" onclick="location.href='food'" class="card">
                <div class="food">
                    <div class="card-body">
                        <h1 class="card-title">Food</h1>
                        <h3 class="card-title">맛집</h3>
                    </div>
                </div>
            </li>
        </ul>
        <!--        left_section end-->
        <div class="right_section">
            <div class="festival">
                <div class="event_main">Event & Festival</div>
            </div>
            <div class="event_list">
                <ul class="event_cards">
                    <li class="event_container">
                        <div class="card">
                            <div class="event_img">
                                <img src="static/main_image/event1.jpg">
                            </div>
                            <div class="top-text">
                                <div class="name">
                                    9.81파크: X리그
                                </div>
                                <p>
                                    21.03.01 ~ 21.11.07
                                </p>
                            </div>
                            <div class="bottom-text">
                                <div class="text">
                                    애월읍 평화로 인근에 위치한 9.81파크는 새로운 놀이, 무동력레이싱(Gravity Racing)을 비롯한 다양한 액티비티와 이벤트를 즐길 수 있는
                                    종합유원시설이다.
                                    메인 액티비티 RACE 981은 천혜의 제주 풍경을 감상하며 중력가속도만으로 스피드를 즐기는 다운힐(down-hill)레이싱이다. 몸으로 체험하고,
                                    9.81 app을 통해
                                    제공되는 탑승영상 등의 데이터와 게이미피케이션으로 서로가 연결되는 스포츠형 액티비티라 할 수 있다.
                                    그 중에서 마스터 라이선스를 획득한 후 X리그의 탑 랭커가 되면, 연말에 진행되는 GROC(Gravity Race Of Champions)에 참가할 수
                                    있는 자격이
                                    주어진다.
                                </div>
                                <div class="btn">
                                    <a href="https://www.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000011153&menuId=DOM_000001718007000000#">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event_container">
                        <div class="card">
                            <div class="event_img">
                                <img src="static/main_image/event1.jpg">
                            </div>
                            <div class="top-text">
                                <div class="name">
                                    9.81파크: X리그
                                </div>
                                <p>
                                    21.03.01 ~ 21.11.07
                                </p>
                            </div>
                            <div class="bottom-text">
                                <div class="text">
                                    애월읍 평화로 인근에 위치한 9.81파크는 새로운 놀이, 무동력레이싱(Gravity Racing)을 비롯한 다양한 액티비티와 이벤트를 즐길 수 있는
                                    종합유원시설이다.
                                    메인 액티비티 RACE 981은 천혜의 제주 풍경을 감상하며 중력가속도만으로 스피드를 즐기는 다운힐(down-hill)레이싱이다. 몸으로 체험하고,
                                    9.81 app을 통해
                                    제공되는 탑승영상 등의 데이터와 게이미피케이션으로 서로가 연결되는 스포츠형 액티비티라 할 수 있다.
                                    그 중에서 마스터 라이선스를 획득한 후 X리그의 탑 랭커가 되면, 연말에 진행되는 GROC(Gravity Race Of Champions)에 참가할 수
                                    있는 자격이
                                    주어진다.
                                </div>
                                <div class="btn">
                                    <a href="https://www.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000011153&menuId=DOM_000001718007000000#">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event_container">
                        <div class="card">
                            <div class="event_img">
                                <img src="static/main_image/event1.jpg">
                            </div>
                            <div class="top-text">
                                <div class="name">
                                    9.81파크: X리그
                                </div>
                                <p>
                                    21.03.01 ~ 21.11.07
                                </p>
                            </div>
                            <div class="bottom-text">
                                <div class="text">
                                    애월읍 평화로 인근에 위치한 9.81파크는 새로운 놀이, 무동력레이싱(Gravity Racing)을 비롯한 다양한 액티비티와 이벤트를 즐길 수 있는
                                    종합유원시설이다.
                                    메인 액티비티 RACE 981은 천혜의 제주 풍경을 감상하며 중력가속도만으로 스피드를 즐기는 다운힐(down-hill)레이싱이다. 몸으로 체험하고,
                                    9.81 app을 통해
                                    제공되는 탑승영상 등의 데이터와 게이미피케이션으로 서로가 연결되는 스포츠형 액티비티라 할 수 있다.
                                    그 중에서 마스터 라이선스를 획득한 후 X리그의 탑 랭커가 되면, 연말에 진행되는 GROC(Gravity Race Of Champions)에 참가할 수
                                    있는 자격이
                                    주어진다.
                                </div>
                                <div class="btn">
                                    <a href="https://www.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000011153&menuId=DOM_000001718007000000#">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event_container">
                        <div class="card">
                            <div class="event_img">
                                <img src="static/main_image/event1.jpg">
                            </div>
                            <div class="top-text">
                                <div class="name">
                                    9.81파크: X리그
                                </div>
                                <p>
                                    21.03.01 ~ 21.11.07
                                </p>
                            </div>
                            <div class="bottom-text">
                                <div class="text">
                                    애월읍 평화로 인근에 위치한 9.81파크는 새로운 놀이, 무동력레이싱(Gravity Racing)을 비롯한 다양한 액티비티와 이벤트를 즐길 수 있는
                                    종합유원시설이다.
                                    메인 액티비티 RACE 981은 천혜의 제주 풍경을 감상하며 중력가속도만으로 스피드를 즐기는 다운힐(down-hill)레이싱이다. 몸으로 체험하고,
                                    9.81 app을 통해
                                    제공되는 탑승영상 등의 데이터와 게이미피케이션으로 서로가 연결되는 스포츠형 액티비티라 할 수 있다.
                                    그 중에서 마스터 라이선스를 획득한 후 X리그의 탑 랭커가 되면, 연말에 진행되는 GROC(Gravity Race Of Champions)에 참가할 수
                                    있는 자격이
                                    주어진다.
                                </div>
                                <div class="btn">
                                    <a href="https://www.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000011153&menuId=DOM_000001718007000000#">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event_container">
                        <div class="card">
                            <div class="event_img">
                                <img src="static/main_image/event1.jpg">
                            </div>
                            <div class="top-text">
                                <div class="name">
                                    9.81파크: X리그
                                </div>
                                <p>
                                    21.03.01 ~ 21.11.07
                                </p>
                            </div>
                            <div class="bottom-text">
                                <div class="text">
                                    애월읍 평화로 인근에 위치한 9.81파크는 새로운 놀이, 무동력레이싱(Gravity Racing)을 비롯한 다양한 액티비티와 이벤트를 즐길 수 있는
                                    종합유원시설이다.
                                    메인 액티비티 RACE 981은 천혜의 제주 풍경을 감상하며 중력가속도만으로 스피드를 즐기는 다운힐(down-hill)레이싱이다. 몸으로 체험하고,
                                    9.81 app을 통해
                                    제공되는 탑승영상 등의 데이터와 게이미피케이션으로 서로가 연결되는 스포츠형 액티비티라 할 수 있다.
                                    그 중에서 마스터 라이선스를 획득한 후 X리그의 탑 랭커가 되면, 연말에 진행되는 GROC(Gravity Race Of Champions)에 참가할 수
                                    있는 자격이
                                    주어진다.
                                </div>
                                <div class="btn">
                                    <a href="https://www.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000011153&menuId=DOM_000001718007000000#">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event_container">
                        <div class="card">
                            <div class="event_img">
                                <img src="static/main_image/event1.jpg">
                            </div>
                            <div class="top-text">
                                <div class="name">
                                    9.81파크: X리그
                                </div>
                                <p>
                                    21.03.01 ~ 21.11.07
                                </p>
                            </div>
                            <div class="bottom-text">
                                <div class="text">
                                    애월읍 평화로 인근에 위치한 9.81파크는 새로운 놀이, 무동력레이싱(Gravity Racing)을 비롯한 다양한 액티비티와 이벤트를 즐길 수 있는
                                    종합유원시설이다.
                                    메인 액티비티 RACE 981은 천혜의 제주 풍경을 감상하며 중력가속도만으로 스피드를 즐기는 다운힐(down-hill)레이싱이다. 몸으로 체험하고,
                                    9.81 app을 통해
                                    제공되는 탑승영상 등의 데이터와 게이미피케이션으로 서로가 연결되는 스포츠형 액티비티라 할 수 있다.
                                    그 중에서 마스터 라이선스를 획득한 후 X리그의 탑 랭커가 되면, 연말에 진행되는 GROC(Gravity Race Of Champions)에 참가할 수
                                    있는 자격이
                                    주어진다.
                                </div>
                                <div class="btn">
                                    <a href="https://www.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000011153&menuId=DOM_000001718007000000#">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="event_container">
                        <div class="card">
                            <div class="event_img">
                                <img src="static/main_image/event1.jpg">
                            </div>
                            <div class="top-text">
                                <div class="name">
                                    9.81파크: X리그
                                </div>
                                <p>
                                    21.03.01 ~ 21.11.07
                                </p>
                            </div>
                            <div class="bottom-text">
                                <div class="text">
                                    애월읍 평화로 인근에 위치한 9.81파크는 새로운 놀이, 무동력레이싱(Gravity Racing)을 비롯한 다양한 액티비티와 이벤트를 즐길 수 있는
                                    종합유원시설이다.
                                    메인 액티비티 RACE 981은 천혜의 제주 풍경을 감상하며 중력가속도만으로 스피드를 즐기는 다운힐(down-hill)레이싱이다. 몸으로 체험하고,
                                    9.81 app을 통해
                                    제공되는 탑승영상 등의 데이터와 게이미피케이션으로 서로가 연결되는 스포츠형 액티비티라 할 수 있다.
                                    그 중에서 마스터 라이선스를 획득한 후 X리그의 탑 랭커가 되면, 연말에 진행되는 GROC(Gravity Race Of Champions)에 참가할 수
                                    있는 자격이
                                    주어진다.
                                </div>
                                <div class="btn">
                                    <a href="https://www.visitjeju.net/kr/detail/view?contentsid=CNTS_200000000011153&menuId=DOM_000001718007000000#">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--        right_section end-->
    </div>
</div>


</body>